* {
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

html {
    display: flex;
    justify-content: center;
}

.body {
    max-width: 1024px;
}

.header {
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    justify-content: space-between;
}

.cv-photo {
    height: 300px;
    width: 300px;
    border-radius: 100px;
}

.contact-inf > article {
    margin-bottom: 10px;
}

.contact-type {
    font-weight: 600;
}
